/* Estilos responsivos para dispositivos móveis */
@media (max-width: 768px) {
    header {
        text-align: center;
    }

    .hero h2 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1.2em;
    }
}
