body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #4a90e2, #afd4c3); /* Gradiente */
    height: 100vh; /* Garante que o gradiente cubra toda a altura da página */
    margin: 0; /* Remove margem padrão */
}

header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}


nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: linear-gradient(to right, #4a90e2, #afd4c3); /* Gradiente*/
    color: white;
    text-align: center;
}

.profile-section {
    display: flex;
    justify-content: space-between; /* Adiciona espaço entre os elementos */
    align-items: center; /* Alinha verticalmente os itens ao centro */
    padding: 20px;
}

.profile-image {
    width: 150px; /* Define o tamanho da imagem */
    height: auto; /* Mantém a proporção */
    margin-right: 20px; /* Espaço entre a imagem e o texto */
    object-fit: cover;
    border-radius: 50%; /* Faz a imagem ficar circular */
}


.presentation-title {
    font-size: 2.5rem;
    margin: 0;
}

.presentation-desc {
    font-size: 1.5rem;
    margin: 10px 0;
}

.presentation-text {
    margin: 20px 0;
    font-size: 1.2rem;
}

.presentation-buttons a {
    margin: 10px;
    padding: 10px 20px;
    background-color: #61dafb;
    color: #282c34;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

footer {
    background-image: url('/static/TARJA.png'); /* Insere a tarja como fundo */
    background-size: cover; /* Faz a imagem cobrir todo o footer */
    background-position: center;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
}

