<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"> <!-- Caminho do CSS -->
    <link rel="stylesheet" href="/css/responsive.css"> <!-- Caminho do CSS responsivo -->
    <title>IonKod - Douglas Lucio</title>
</head>
<body>
    <header>
        <h1>IonKod</h1>
        <button class="menu-toggle">☰</button>
        <nav>
            <ul>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#resumo">Resumo</a></li>
                <li><a href="#experiencia">Experiência</a></li>
                <li><a href="#habilidades">Habilidades</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="hero">
        <div class="hero-content">
            <h2>Douglas Lucio</h2>
            <p>Full-Stack Developer</p>
            <a href="#mais" class="btn">Saiba mais</a>
        </div>
    </section>

    <main>
        <!-- Conteúdo das seções -->
        <section id="sobre">
            <h3>Sobre</h3>
            <p>Curso Superior de Tecnologia (CST) - Analise e Desenvolvimento de Sistemas 
                Universidade Cruzeiro do Sul.  Participo em alguns bootcamps para desenvolvimento e apredizado de novas linguagens e o que tem de mais moderno.</p>
        </section>
        <section id="resumo">
            <h3>Resumo</h3>
            <p>Profissional com experiência em tecnologia, fem desenvolvimento full stack. Habilidades em AWS IA
                Generativa, Git, GitHub, Java e SpringBoot. Experiência na Dígitro Tecnologia como Analista de Service Desk, RR Donnelley
                Moore como programador, e assistente de TI na NC8. Objetivo: Aprofundar conhecimentos em desenvolvimento de
                software e contribuir para projetos inovadores.</p>
        </section>
        <section id="experiencia">
            <h3>Experiência</h3>
            <p>Analista de Service Desk<br>
                Dígitro Tecnologia, Florianópolis, Santa Catarina, Brasil
                dezembro de 2020 - agosto de 2024<br>
                ● Implantação e ampliação de soluções Dígitro. <br>
                ● Suporte remoto a clientes e técnicos credenciados. <br>
                ● Monitoramento remoto de ambientes tecnológicos. <br>
                ● Resolução de incidentes e registro de atendimentos.<br>
                
                Assistente de TI<br>
                NC8.CO, Florianópolis e Região, Brasil
                junho de 2018 - agosto de 2020<br>
                ● Manutenção de infraestrutura em máquinas e redes.<br>
                ● Gerenciamento de emails e análise de log.<br>
                ● Suporte aos usuários da rede de computadores.<br>
                
                Programador Junior<br>
                RR Donnelley Moore, Osasco, São Paulo, Brasil
                julho de 2008 - janeiro de 2017<br>
                ● Desenvolvimento de programas de computador com ferramenta inspire (GMC).<br>
                ● Testes e ajustes de programas de computadores.<br>
                ● Monitoramento e análise de processos produtivos.<br>
                
                Certificações<br>
                ● Bootcamp Nexa - Fundamentos de IA Generativa e Claude 3<br>
                ● Claro - Java com Spring Boot<br> </p>
        </section>
        <section id="habilidades">
            <h3>Habilidades</h3>
            <div class="skills-container">
                <div class="skill">
                    <img src="/img/artificial-intelligence.png" alt="Inteligência Artificial">
                    <p>Inteligência Artificial</p>
                </div>
                <div class="skill">
                    <img src="/img/machine_learn.png" alt="IA Generativa">
                    <p>IA Generativa</p>
                </div>
                <div class="skill">
                    <img src="/img/AWS.png" alt="AWS">
                    <p>AWS</p>
                </div>
                <div class="skill">
                    <img src="/img/python.png" alt="Python">
                    <p>Python</p>
                </div>
                <div class="skill">
                    <img src="/img/java.png" alt="Java">
                    <p>Java</p>
                </div>
                <div class="skill">
                    <img src="/img/SpringBoot.png" alt="Spring Boot">
                    <p>Spring Boot</p>
                </div>
                <div class="skill">
                    <img src="/img/java-script.png" alt="JavaScript">
                    <p>JavaScript</p>
                </div>
                <div class="skill">
                    <img src="/img/html-5.png" alt="HTML">
                    <p>HTML</p>
                </div>
                <div class="skill">
                    <img src="/img/css.png" alt="CSS">
                    <p>CSS</p>
                </div>
                <div class="skill">
                    <img src="/img/git.png" alt="Git">
                    <p>Git</p>
                </div>
                <div class="skill">
                    <img src="/img/github.png" alt="GitHub">
                    <p>GitHub</p>
                </div>
            </div>
        </section>
        
        
        <section id="contato">
            <h3>Contato</h3>
            <p>
                <a href="mailto:dlucio.douglas@gmail.com">dlucio.douglas@gmail.com</a>, 
                <a href="https://www.linkedin.com/in/douglaslucio/" target="_blank">LinkedIn</a>, 
                <a href="https://github.com/dlucioyauh" target="_blank">GitHub</a>.
            </p>
        </section>
         
    </main>

    <footer>
        <p>&copy; 2024 IonKod. Todos os direitos reservados.</p>
    </footer>

    <script src="/css/js/script.js"></script> <!-- Caminho do JavaScript -->
</body>
</html>
